<header>
	<div class="nav-bar" class="row">
		<div class="twelve columns">
			<div class="u-pull-left">
				<a href="/">
					<h1 class="sfs">Safety for Refugees</h1>
				</a>
			</div>
			<div class="u-pull-right" style="height: 50px">
				<a href="/love">
					<h1 class="supporters-nav">Supporters ♥</h1>
				</a>
			</div>
		</div>
	</div>
</header>
