<header>
	<div class="nav-bar" class="row">
		<div class="twelve columns">
			<div class="u-pull-left">
				<a href="/">
					<h1 class="sfs">Safety for Refugees</h1>
				</a>
			</div>
			<div class="u-pull-right" style="height: 50px">
				<a href="/love">
					<h1 class="supporters-nav">Supporters ♥</h1>
				</a>
			</div>
		</div>
	</div>
</header>

<h3 style="text-align: center;">Most Recent Supporters</h3>

<div class="container">
	<table class="u-full-width">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Country</th>
			</tr>
		</thead>
		<tbody>
			{{range .Data.Supporters}}
			<tr>
				<td>{{.FirstName}}</td>
				<td>{{.LastName}}</td>
				<td>{{.CountryName}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
